/* .dropdown {
    border: 2px solid red;
    height: 500px;
    width: 100%;
    display: none;
    position: absolute;
    display: inline-block
} */

/* .dropdown:hover {
    display: block;
}

.dropdown :hover .shop{
    display: block;
} */



 
