.foot{
    border: 1px solid red;
    height:750px;
    width: 100%;
    margin-top: 100px;
    background-color: #eef2f0;
    
    
}
.FOOT{
    display: flex;
    justify-content: space-evenly;
}

.foot1{
    border: 1px solid black;
        height: 550px;
        width: 20%;
        margin-top: 20px;
}

.foot1 h4{
    font-family: Poppins,
        sans-serif;
        font-size: 20px;
        margin-left: 22px;
        color: #333333;
}

.foot1 p {
    font-family: Poppins,
        sans-serif;
    margin-left: 22px;
    color:#777777;
}

 .foot1 h5 {
    font-family: Poppins,
        sans-serif;
        font-size: 16px;
    margin-left: 22px;
    line-height: -10px;
    color: black;
} 

.foot1 h6 {
    font-family: Poppins,
        sans-serif;
    margin-left: 22px;
    color: #a3b49b;
    font-size: 18px;


}

.foot1 h6:hover{
    color: #777777;
}

.foot2{
    border:  2px solid green;
    height: 70px;
    width: 90%;
    margin-left: 22px;
    margin-top: 20px;
    display: flex;
}
.foott22{
    border: 1px solid black;
    width: 30%;
    height: 50%;
    margin-top: 15px;
    margin-left: 5px;
    
}
 
.foott2{
    border: 1px solid black;
        width: 14%;
        height: 50%;
        margin-top: 15px;
        margin-left: 10px;
}

.foott2 img{
height: 100%;
width: 95%;

}
/* .foott2 img:hover{
    color: black;
} */
.copyright{
    /* border: 1px solid green; */
    height: 40px;
    width: 30%;
    margin-top: 50px;
    margin-left: 55px;
}

.copyright p{
    color: #888888;
    font-family: Poppins, sans-serif;
}

.statement{
    border: 1px solid gray;
    width: 92%;
    height: 50px;
    margin: auto;

}

.statement p{
    color: #333333;
    font-size: 14px;
    margin-top: 1%;
    margin-left: 1%;
}